form.add-project-form {
    padding: 0 0 10px;
    margin: 15px auto;
    width: 74%;
    background-color: lightgoldenrodyellow;
    border: solid 2px gray;
  }

  form.add-project-form div {
    border-style: none;
    margin: 6px auto 0;
    width: 90%;
    text-align: center;
  }

  form.add-project-form input {
    width: 100%;
    height: 25px;
    font-size: 14px;
    border: solid 1px lightgray;
  }

  form.add-project-form input:focus {
      outline: 2px solid steelblue;
  }

  .add-project-detail input {
    text-transform: none;
  }

  .add-project-button button {
    padding: 0;
    height: 35px;
  }

  div.add-project-buttons {
    display: flex;
    top: 0;
    right: 0;
    width: 92%;
    padding: 0;
    margin-bottom: 10px;
  }

  .add-project-buttons button {
    color: black;
    flex: 1;
    height: 25px;
    font-size: 14px;
    padding: 0;
    border: outset 1px lightgray;
    background-color: lightgray;
    text-transform: capitalize;
  }

  .add-project-buttons button:hover {
      color: red;
      background-color: lightgray;
      outline: solid 1px gray;
  }

  .middle-button {
    margin: 0 9px;
  }