form.add-project-form {
    padding: 0;
    margin: 15px auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
    border: solid 2px gray;
  }

  form.add-project-form div {
    border-style: none;
    margin: 3px auto;
    padding: 1px;
    width: 100%;
    text-align: center;
  }

  form.add-project-form input {
    width: 90%;
    height: 20px;
    border: solid 1px lightgray;
  }

  form.add-project-form input:focus {
      outline: 2px solid steelblue;
  }

  .add-project-detail input {
    text-transform: none;
  }

  div.add-project-buttons {
    display: flex;
    top: 0;
    right: 0;
    width: 93%;
    padding: 0;
  }

  .add-project-buttons button {
    color: black;
    flex: 1;
    height: 20px;
    border: outset 1px lightgray;
    margin: 2px 5px;
    background-color: lightgray;
    text-transform: capitalize;
  }

  .add-project-buttons button:hover {
      color: red;
      background-color: lightgray;
      outline: solid 1px gray;
  }