.header {
  background-color: lightgray;
  height: 3em;
}

h1 {
  margin: 0 auto;
  text-align: center;
  padding: .25em;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

span.details {
  text-transform: initial;
}

input {
  text-transform: capitalize;
}

input[type="date"] {
  text-transform: uppercase;
}

input:focus {
  outline: 2px solid steelblue;
} 

li:hover {
  outline: 2px solid steelblue;
}

button {
  width: 100%;
  height: 100%;
  color: lightgray;
  font-size: 20px;
  padding: 6px;
  background-color: steelblue;
  text-transform: capitalize;
  border: solid 1px gray;
  box-shadow: 10px 5px 5px gray;
}

button:hover {
  color: red;
  background-color: steelblue;  
  outline: solid 1px gray;
}
