form#edit-task-form {
    padding: 0;
    margin: 15px auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
    border: solid 2px gray;
  }

  form#edit-task-form div {
    border-style: none;
    margin: 3px auto;
    padding: 1px;
    text-align: center;
    width: 100%;
  }

  form#edit-task-form input {
    height: 20px;
    width: 88%;
    border: solid 1px lightgray;
  }

  form#edit-task-form input:focus {
      outline: 2px solid steelblue;
  }

  div#edit-task-buttons {
    display: flex;
    top: 0;
    right: 0;
    width: 90%;
    height: 30px;
    padding: 0;
    margin: 10px auto;
  }

  #edit-task-buttons button {
    color: black;
    flex: 1;
    font-size: 12px;
    border: outset 1px lightgray;
    margin: 2px 5px;
    background-color: lightgray;
    text-transform: capitalize;
  }

  #edit-task-buttons button:hover {
      color: red;
  }
