form#edit-project-form {
    padding: 10px 0;
    margin: 15px auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
    border: solid 2px gray;
  }

  form#edit-project-form div {
    border-style: none;
    margin: 3px auto;
    padding: 1px;
    text-align: center;
    width: 90%;
  }

  form#edit-project-form input {
    height: 30px;
    width: 96%;
    font-size: 16px;
    padding: 0 5px;
    border: solid 1px lightgray;
}  

  form#edit-project-form input:focus {
      outline: 2px solid steelblue;
  }

  #edit-project-detail input {
    text-transform: none;
  }

  div#edit-project-buttons {
    display: flex;
    top: 0;
    right: 0;
    width: 90%;
    height: 30px;
    padding: 0;
    margin: 10px auto;
  }

  #edit-project-buttons button {
    color: black;
    flex: 1;
    font-size: 16px;
    padding: 0;
    border: outset 1px lightgray;
    margin: 2px 5px;
    background-color: lightgray;
    text-transform: capitalize;
  }

  #edit-project-buttons button:hover {
      color: red;
  }
