div.header {
  background-color:steelblue;
  height: auto;
}

h1 {
  padding-top: 0.25em;
  padding-bottom: .5em;
  background-color:steelblue;
}

h1 a {
  color: lightgray;
}

button.logout {
  width: 20%;
  margin-left: 80%;
  padding: 0 1em .25em 0;
  border: none;
  text-align: right;
  background-color:steelblue;
}
button.logout:hover {
  color: red;
}

.logout-button {
  background-color:steelblue;
}
