.headerParent {
  margin-bottom: 10px;
}

div.header {
  background-color:steelblue;
  height: auto;
}

h1 {
  padding: 10px;
  padding-bottom: 15px;
  background-color:steelblue;
}

h1 a {
  color: lightgray;
}

button.logout {
  width: 20%;
  margin-left: 80%;
  padding: 5px 15px 5px 0;
  border: none;
  text-align: right;
  color: gray;
  background-color: transparent;
}
button.logout:hover {
  color: red;
}

.logout-button {
  background-color: transparent;
}
