.headerParent {
  margin-bottom: 0;
}

div.header {
  background-color:steelblue;
  height: auto;
  display: inline-flex;
  width: 100%;
}

h1 {
  flex: 1;
  padding: 20px;
  background-color:steelblue;
}

h1 a {
  color: lightgray;
  text-decoration-line: none;
}

.logout-button {
  flex: 1;
}

button.logout {
  width: auto;
  border: none;
  text-align: right;
  color: lightgray;
  background-color: transparent;
}
.logout:hover {
  color: red;
  background-color: transparent;
}

.logout-button {
  background-color: transparent;
  position: absolute;
  right: 10px;
  padding: 5px;
}
