<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">

* {
	font: Arial, Helvetica, sans-serif;
}
.login-form {
	width: 65%;
	padding-bottom: 10px;
	margin: 15px auto;
	text-align: center;
	border: solid 1px gray;
	box-shadow: 10px 5px 5px gray;
	-moz-box-shadow: 10px 5px 5px gray;
	-webkit-box-shadow:  10px 5px 5px gray;
}


.login-form h3 {
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 10px;

	background: grey;
	text-transform: uppercase;
	color: white;
}

.loginUserName, .loginPassword {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 84%;
	margin: 0 auto;
	border-style: none;
	background: transparent;
	color: #555;
}

.login-form input {
	height: 30px;
	width: 99%;
	margin: 3px auto;
	font-size: 15px;
	border: solid 1px gray;
	text-transform: none;
}

.login-form button {
	background-color: grey;
	border: 1px solid grey;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 15px;
	padding: 6px;
	margin: 15px auto 0;
	width: 84%;
	height: 35px;
	text-decoration: none;
	text-transform: uppercase;
}

.login-form button :hoover {
	background:linear-gradient(to bottom, lightgray 5%, gray 100%);
	background-color:gray;
}
