div.project-list {
  border: solid gray;
  width: 80%;
  margin: 15px auto;
  box-shadow: 10px 5px 5px gray;
}

ul.project-container {
  padding: 0;
  margin: 15px auto;
  width: 75%;
  text-transform: capitalize;
}

li.project-link {
  border-style: groove;
  margin: 3px auto;
  padding: 5px 0 10px;
  width: 98%;
  text-align: center;
  display: inline-block;
}

.project-link span {
  color: black;
  font-size: 14px;
}

.project-list-buttons {
  display: flex;
  top: 0;
  right: 0;
  height: 30px;
}

.project-list-buttons a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.project-list-buttons a:hover {
  color: red;
}

.project-link a {
  display: block;
  margin: 3px auto 5px;
}
.project-link p {
  margin: 1px auto;
  font-size: 18px;
  color: steelblue;
}

.project-list-buttons button {
  color: black;
  flex: 1;
  font-size: 16px;
  padding: 0;
  border: outset 1px lightgray;
  margin: 2px 5px;
  background-color: lightgray;
}

.project-list-buttons button:hover {
  color: red;
}

#edit-project a {
  margin: 0;
}

div.add-project-button {
  width: 74%;
  height: 35px;
  margin: 15px auto;
}


