div.project-list {
  border: solid gray;
  width: 80%;
  margin: 15px auto;
}

ul.project-container {
  padding: 0;
  margin: 15px auto;
  width: 75%;
}

li.project-link {
  border-style: groove;
  margin: 1px auto;
  padding: 1px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.project-list-buttons {
  display: flex;
  top: 0;
  right: 0;
}

.project-list-buttons a {
  display: inline-block;
}

.project-link a {
  display: block;
  margin: 3px auto 5px;
}
.project-link p {
  margin: 1px auto;
  font-size: 18px;
  color: steelblue;
}

#delete-project, .project-list-buttons a {
  flex: 1;
  border: outset 1px lightgray;
  margin: 2px 5px;
  background-color: lightgray;
}

.add-project {
  width: 60%;
  margin: 15px auto;
}

span {
  color: black;
  font-size: 14px;
}