.project-detail {
  width: 80%;
  margin: 10px auto;
  border: solid 1px gray;
}

ul, li {
  list-style-type: none;
}

div.project-info {
  text-align: center;
  background-color: gray;
  color: white;
}

span {
  color: white;
}

.project-info h2 {
  margin: 0;
  padding: 10px;
}

ul.task-list-container {
  padding: 0;
  margin: 15px auto;
  width: 75%;
  text-transform: capitalize;
}

.task-list {
  border-top: solid 1px lightgray;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.task-name {
  padding: 2px;
  margin: 1px auto;
  height: auto;
  width: 98%;
  text-align: center;
  border: groove .125em lightgray;
}

.task-list-buttons {
  display: flex;
  top: 0;
  right: 0;
}

.task-list-buttons a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.task-list-buttons a:hover {
  color: red;
}

.task-list-buttons button {
  color: black;
  flex: 1;
  height: 30px;
  font-size: 14px;
  border: outset 1px lightgray;
  margin: 2px 5px;
  background-color: lightgray;
}

.task-list-buttons button:hover {
  color: red;
}

#delete-task {
  padding: 0;
}

.task-info p {
  color: steelblue;
  text-align: center;
  margin: 3px auto;
}

.task-details span {
  color: black;
  font-size: 14px;
  text-align: center;
}

div.add-task-button {
  width: 75%;
  margin: 15px auto;
}

