form.registration-form {
  width: 65%;
	margin: 40px auto;
	text-align: center;
  border: solid 1px gray;
  box-shadow: 10px 5px 5px gray;
	-moz-box-shadow: 10px 5px 5px gray;
	-webkit-box-shadow:  10px 5px 5px gray;
}

h3 {
  padding: 10px 0;
	font-size: 19px;
	font-weight: 100;
  text-align: center;
  width: 100%;
  height: 25px;
  margin-top: 0;
  margin-bottom: 8px;
	background: grey;
	text-transform: uppercase;
	color: white;
}

.registration-form input {
  border: solid 1px lightgray;
  width: 85%;
  margin: 3px auto;
  height: 30px;
  padding: 3px 10px;
}

div.register-buttons {
  display: flex;
  top: 0;
  right: 0;
  width: 91%;
  height: 30px;
  margin: 5px auto 10px;
}

.register-buttons button {
  color: black;
  font-size: 14px;
  padding: 3px;
  flex: 1;
  border: outset 1px lightgray;
  margin: 2px 5px;
  background-color: lightgray;
}

button:hover {
  color: red;
  background-color: lightgray;


}
